@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap");
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a,
small, strike, strong, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
  font-family: Montserrat;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  color: #fff;
  background-color: #1a2834;
  background-image: url("../../assets/img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  background-blend-mode: overlay;
}
.banner-container {
  padding: 8rem 5rem;
}
.banner-container .search {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
  gap: 1rem;
  padding-inline: 1rem;
  width: 80%;
}
.banner-container .search-handle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.banner-container .search-handle-input {
  color: #7c95ab;
  border: 1px solid #1a2834;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 1rem;
  width: 60%;
  outline: #7c95ab;
}
.banner-container .search-handle-input:hover {
  border: 1px solid #0091EB;
}
.banner-container .search-handle-btn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem;
  max-width: 60%;
  border-radius: 0.4rem;
  background-color: #0091EB;
}
.banner-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 800;
  word-spacing: 0.5rem;
}

@media (min-width: 1400px) {
  .search {
    margin-left: 0 !important;
  }
  .search-handle {
    flex-direction: row !important;
  }
  .search-handle-input {
    width: 70% !important;
  }
  .search-handle-btn {
    padding: 1rem 3rem !important;
  }
}
.header {
  display: flex;
  padding: 1rem 3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #02203A;
  position: relative;
}
.header-nav {
  display: none;
  list-style: none;
  color: inherit;
}
.header-nav a {
  text-decoration: none;
  color: #02203A;
}
.header-nav-item {
  display: inline-block;
  margin-right: 2.5rem;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 1.1rem;
}
.header-nav-item:hover {
  color: #0091EB;
}
.header-nav-item:hover .btn-group {
  color: #02203A;
}
.header-nav .nav-active {
  color: #0091EB;
  font-weight: 800;
  line-height: 16px;
}
.header .btn-group {
  display: flex;
  gap: 0.3rem;
}
.header .btn-group .btn {
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
}
.header .btn-group .btn:hover {
  color: rgb(151, 151, 151);
}
.header .btn-group .btn-active {
  background-color: #0091EB;
  color: #fff;
  font-weight: 800;
}
.header .btn-group .btn-active:hover {
  color: #fff;
}
.header .btn-group .btn-language {
  border: 1px solid rgb(219, 219, 219);
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding-inline: 0.8rem;
}
.header .btn-group .btn-language .lan-active {
  font-weight: 700;
}
.header .btn-hamburger img {
  max-width: 2rem;
}
.header .hamburger-menu {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font-size: 3rem;
  background-color: #fff;
  padding: 1rem;
  padding-bottom: 200px;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in-out 400ms;
}
.header .hamburger-menu-head {
  width: 80vw;
}
.header .hamburger-menu-head .btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  color: rgb(105, 105, 105);
}
.header .hamburger-menu-list {
  width: 80vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.header .hamburger-menu-list a {
  text-decoration: none;
  color: #02203A;
}
.header .hamburger-menu-list a .nav-active {
  color: #0091EB;
}
.header .active {
  opacity: 1;
}
.header .btn-group {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1400px) {
  .header {
    font-size: 2rem;
  }
  .header-nav {
    display: block;
  }
  .btn-hamburger, .hamburger-menu, .hamburger-menu .active {
    display: none;
  }
}
.brands-container {
  padding: 5rem 3rem;
}
.brands-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
.brands-title span {
  color: #F5A200;
  font-weight: bold;
}
.brands-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.browseJobs-container {
  padding: 3rem;
  background-color: #F9FCFF;
}
.browseJobs-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}
.browseJobs-title span {
  color: #0091EB;
  font-weight: bold;
}
.browseJobs-list {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  gap: 1rem;
}
.browseJobs-list-item {
  flex: 100%;
  display: flex;
  padding: 1.6rem 1rem;
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.2rem;
}
.browseJobs-list-item-title {
  font-weight: bold;
  font-size: 1.3rem;
  padding-inline: 1rem;
}
.browseJobs-list-item::before {
  content: "";
  position: absolute;
  background-color: #0091EB;
  width: 3px;
  border-radius: 2px;
  height: 45%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.browseJobs-list-item::after {
  content: "";
  position: absolute;
  background-color: #DAE5F2;
  width: 1px;
  border-radius: 2px;
  height: 60%;
  top: 50%;
  right: max(25%, 130px);
  transform: translateY(-50%);
}
.browseJobs-list-item-positions {
  font-weight: 500;
}

@media (min-width: 1400px) {
  .browseJobs-list-item {
    flex: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
