.banner { 
    color: #fff;
    background-color: #1a2834;
    background-image: url("../../assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    &-container{
        padding: 8rem 5rem;
        .search {
            display: flex;
            margin-top: 1rem;
            flex-direction: column;
            justify-content: center;
            margin-left: 20%;
            gap: 1rem;
            padding: 1rem;
            width: 80%;
            &-handle{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                &-input{
                    color: #7c95ab;
                    border: 1px solid #1a2834;
                    border-radius: $bor-rad-soft;
                    font-size: 1.0rem;
                    padding: 1rem;
                    width: 60%;
                    outline: #7c95ab;
                    &:hover{
                        border: 1px solid $primary-clr;
                    }
                }
                &-btn {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    padding: 1rem;
                    max-width: 60%;
                    border-radius: $bor-rad-soft;
                    background-color: $primary-clr;
                } 
            }
        }
    }
    &-title {
        text-align: center;
        font-size: 2.3rem;
        font-weight: 800;
        word-spacing: .5rem;
    }
}
@include lg {
    .search {
        &-handle {
            flex-direction: row !important;
            &-btn{
                padding: 1rem 3rem !important;
            }
        }
        
    }
}

