.header {
    display: flex;
    padding: 1rem 3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $primary-dark-clr;
    position: relative;
    &-nav {
        display: none;
        a {
            text-decoration: none;
            color: $primary-dark-clr;
        }
        list-style: none;
        color: inherit;
        &-item {
            display: inline-block;
            margin-right: 2.5rem;
            font-weight: $fw-600;
            font-family: $font-family;
            font-size: 1.1rem;
            &:hover {
                .btn-group{
                    color: $primary-dark-clr;
                }
                color: $primary-clr;
            }
        }
        .nav-active{
            color: $primary-clr;
            font-weight: 800;
            line-height: 16px;
        }
    }
    .btn-group {
        display: flex;
        gap: .3rem;
        .btn {
            border-radius: 1rem;
            padding: .4rem 1.2rem;
            &:hover {
                color: rgb(151, 151, 151);
            }
        }
        .btn-active {
            background-color: $primary-clr;
            color: #fff;
            font-weight: 800;
            &:hover {
                color: #fff;
            }
        }
        .btn-language {
            border: 1px solid rgb(219, 219, 219);
            font-weight: $fw-400;
            font-size: .9rem;
            text-align: center;
            display: flex;
            align-items: center;
            padding-inline: .8rem;
            .lan-active {
                font-weight: $fw-700;
            }
        }
    }
    .btn-hamburger img{
        max-width: 2rem;
    }
    .hamburger-menu{
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        font-size: 3rem;
        background-color: #fff;
        padding: 1rem;
        padding-bottom: 200px;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity ease-in-out 400ms;
        &-head {
            width: 80vw;
            .btn-group {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 1rem;
                color: rgb(105, 105, 105);
            }
        }
        &-list {
            width: 80vw;
            align-items: center;
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                color: $primary-dark-clr;
                .nav-active {
                    color: $primary-clr;
                }
            }
        }
    }
    .active {
        opacity: 1;
    }
    .btn-group {
        display: flex;
        flex-direction: row;
    }    
}
@include lg {
    .header{
        font-size: 2rem;
        &-nav {
            display: block;
        }
    }
    .btn-hamburger,.hamburger-menu, .hamburger-menu .active{
         opacity: 0 !important;
    }
}