$primary-clr: #00B9EF;
$primary-dark-clr: #02203A;
$primary-mid-clr: #00428E;
$red-clr: #E9473F;
$green-clr: #7EC04D;
$yellow-clr: #F8DF08;
$orange-clr: #F5A200;

$font-family: Montserrat;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;